// colors
$grey: #524747;
$good: #1faa19;
$white: #ffffff;
$danger: #ff4114;
$orange: #ff8b17;
$mid-grey: #706262;
$mid-green: #215260;
$dark-black: #191919;
$light-grey: #ecf3f4;
$dark-green: #004546;
$svg__field: #0f4d4f;
$light-green: #266170;
$light-orange: #ffa98f;
$very-light-blue: #f2f9fc;

// typography
$rubik: 'Rubik', Arial, Verdana, Tahoma, sans-serif;
$geo-reg: 'Geomanist', Arial, Verdana, Tahoma, sans-serif;
$geo-bold: 'Geomanist bold', Arial, Verdana, Tahoma, sans-serif;
$geo-light: 'Geomanist extra light', Arial, Verdana, Tahoma, sans-serif;
// vertical spacing

//horizontal spacing

//border radius

// motions
